/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */html.has-scroll-smooth{overflow:hidden}html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.has-scroll-smooth body{overflow:hidden}.has-scroll-smooth [data-scroll-container]{min-height:100vh}.c-scrollbar{position:absolute;right:0;top:0;width:11px;height:100vh;transform-origin:center right;transition:transform .3s,opacity .3s;opacity:0}.c-scrollbar:hover{transform:scaleX(1.45)}.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{opacity:1}.c-scrollbar_thumb{position:absolute;top:0;right:0;background-color:#000;opacity:.5;width:7px;border-radius:10px;margin:2px;cursor:-webkit-grab;cursor:grab}.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}

:root {
    --blue:#3C78D8;
    --pad50:120px;
    --white:#fff;
}
body {background-color: #222222; font: normal 18px "Gilroy"; color: #fff; margin: 0; padding: 0; overflow-x: hidden;}
a {color:var(--white); text-decoration: none;}
header {position: sticky;top:0; padding: 20px 100px;text-align: center;z-index: 3;}
header ul{ display: flex;align-items: center; justify-content: center;padding: 0; margin: 0; width: 100%;}
header a {color: #aaa; text-transform: uppercase; font-size: 12px; font-weight: bolder; text-decoration: none; transition: all .5s;}
header a:hover {color: #222;}
header a.active {color:var(--blue)}
header ul li {list-style: none;padding: 10px 25px;}

section {min-height: 50vh; padding: 100px;}
h1 {font-size: 120px;line-height: 1em;margin: .5em 0 0; color:var(--blue); text-align: center;}
h1.hero1 {font-size: 150px;}
.white {color:#fff}
.blue {color: var(--blue)}

h2 {font-size: 60px; font-weight: 400;}
.flex {display:flex; align-content: center; justify-content: center; }
.flex div {align-items: center;padding:0 50px; max-width: 60%;}

.iphone-text h1, .intro h1 {text-align: center;}
.iphone-text {width: 50vw; }

.intro h1,.intro h2 {text-align: center;}
.intro {width: 70vw; margin: 0 auto;}
.intro h1 {width: 70vw;text-align: center;}
h1.hero3, h1.hero4, h1.hero5, h1.hero6, h1.hero7 {top:150px}


.center {text-align: center;}
img {width: 100%;}
img.iphone {width: 350px; height: auto; 
    /* transition: all .5s;  
    transform: translateY(50px); opacity: 0.5;*/}
/* img.iphone.is-inview {transform: translateY(0); opacity: 1;} */

.c-scrollbar_thumb {background-color: var(--blue);}

.intro-work {display: flex; margin-bottom:-10vh}
.intro-work div {max-width:33%; padding: var(--pad50) ;}
.intro-work div img {transform:skew(-10deg, -10deg) rotate(10deg); filter:grayscale(95%);transition:.25s all ease-out}
.intro-work div img:hover {transform:skew(-10deg, -5deg) scale(1.1);  ;filter:grayscale(0%); }

footer p{background-color: black; color: white; margin-bottom: 25px;}

ul.transition {display:flex;position: absolute; z-index:10; height:100vh; 
    width:100%; top:0; left:0; margin:0; padding:0; pointer-events:none}
ul.transition li {transform: scaleY(0); background:var(--blue); width:33.3%;list-style-type: none; }

img.side{width:auto; height: 700px;padding-left:25px}
.iphone-side{text-align: right;}


.scroll-downs {
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #666;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 4px;
    height: 12px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    90% { transform: translateY(15px); opacity: 0.3;}
    100% { transform: translateY(0); opacity: 0; }
  }

  .lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(92, 92, 92, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,var(--blue) 75%, var(--blue) 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

.line:nth-child(1){margin-left:-25%}
.line:nth-child(4){margin-left:-40%}
.line:nth-child(6){margin-left:-50%}
.line:nth-child(3){margin-left:25%}
.line:nth-child(5){margin-left:40%}
.line:nth-child(7){margin-left:50%}
.line:nth-child(1)::after {animation-delay: 2s;}
.line:nth-child(3)::after {animation-delay: 3.5s;}
.line:nth-child(4)::after {animation-delay: 1.5s;}
.line:nth-child(5)::after {animation-delay: 2.3s;}
.line:nth-child(6)::after {animation-delay: 2.9s;}
.line:nth-child(7)::after {animation-delay: 3.2s;}
 
@-webkit-keyframes drop{0%{top:-50%}100%{top:110%}}
@keyframes drop{0%{top:-50%}100%{top:110%}}

.svg-white {color:white; ; position: absolute; 
     width: 600px; height: auto; top: 5%; left: -5%; animation: rotate 60s infinite;}

.svg-white svg {
    stroke-dasharray: 829; 
    stroke-dashoffset: 4147;
    animation: dash 20s infinite ; 
    stroke: var(--blue); z-index: -1; transform: rotate(20deg)}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes dash {
    0% {stroke-dashoffset: 0; opacity: .8;}
    60% {opacity: .8;}
    80% {opacity: 1;}
    100% {stroke-dashoffset: 1800; opacity: .2;}
    /* 100% {stroke-dashoffset: 1500; opacity: 0.5;} */
}